@charset "UTF-8";
* {
  box-sizing: border-box;
}
*:focus {
  outline: 0;
}

body {
  font-family: "Segoe UI", system-ui;
  color: #d0d0d0;
  background-color: black;
}

[hidden] {
  display: none !important;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-user-select: none;
  user-select: none;
  cursor: default;
}

.context-menu {
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 4px 0;
  display: inline-block;
  min-width: 200px;
  font-size: 14px;
  background-color: #252526;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
}
.context-menu > .title {
  height: 24px;
  line-height: 24px;
  padding-left: 8px;
  margin: 2px 0 4px;
  font-size: 12px;
  font-weight: bold;
  background-color: #383838;
  -moz-user-select: none;
  user-select: none;
  cursor: default;
}
.context-menu > .item {
  padding-left: 8px;
  line-height: 22px;
  -moz-user-select: none;
  user-select: none;
  cursor: default;
}
.context-menu > .item::after {
  content: attr(data-hotkey);
  position: absolute;
  right: 8px;
  color: #999;
}
.context-menu > .item:hover {
  color: #fff;
  background-color: #094771;
}

html {
  width: 100%;
  height: 100%;
  display: flex;
}

body {
  margin: 0;
  flex: 1;
  display: flex;
  --consoleBlack: #0c0c0c;
  --consoleBlue: #0037da;
  --consoleGreen: #13a10e;
  --consoleCyan: #3a96dd;
  --consoleRed: #c50f1f;
  --consoleMagenta: #881798;
  --consoleYellow: #c19c00;
  --consoleWhite: #cccccc;
  --consoleBoldBlack: #767676;
  --consoleBoldBlue: #3b78ff;
  --consoleBoldGreen: #16c60c;
  --consoleBoldCyan: #61d6d6;
  --consoleBoldRed: #e74856;
  --consoleBoldMagenta: #b4009e;
  --consoleBoldYellow: #f9f1a5;
  --consoleBoldWhite: #f2f2f2;
}

.app {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.app > .titlebar {
  height: 30px;
  display: flex;
  align-items: center;
  padding-left: 2px;
  background-color: #3c3c3c;
  font-size: 14px;
  -moz-user-select: none;
  user-select: none;
  cursor: default;
}
.app > .titlebar > .menu {
  height: 30px;
  display: flex;
  align-items: center;
}
.app > .titlebar > .menu > .item {
  line-height: 30px;
  padding: 0 8px;
}
.app > .titlebar > .menu > .item:hover, .app > .titlebar > .menu > .item:focus {
  box-shadow: 0 0 1px 0 black inset;
  background-color: #505050;
}
.app > .titlebar > .title {
  flex: 1;
  line-height: 30px;
  text-align: center;
}
.app > .titlebar > .ping {
  margin-right: 8px;
}
.app > .content {
  flex-grow: 1;
  display: flex;
  min-height: 0;
  background-color: #1e1e1e;
}
.app > .content > .activity {
  width: 48px;
  background-color: #333333;
  display: flex;
  flex-direction: column;
  align-items: center;
  -moz-user-select: none;
  user-select: none;
  cursor: default;
}
.app > .content > .activity > .item {
  width: 48px;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app > .content > .activity > .item > .eva {
  fill: #adadad;
}
.app > .content > .activity > .item.active > .eva, .app > .content > .activity > .item:hover > .eva {
  fill: #fff;
}
.app > .content > .wrapper {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
}
.app > .content > .wrapper > .sidebar {
  width: 233px;
  background-color: #252526;
  -moz-user-select: none;
  user-select: none;
  cursor: default;
}
.app > .content > .wrapper > .sidebar > .title {
  height: 30px;
  font-size: 12px;
  line-height: 30px;
  padding-left: 8px;
}
.app > .content > .wrapper > .sidebar > .search {
  padding: 2px 8px 4px;
  display: flex;
}
.app > .content > .wrapper > .sidebar > .search input {
  flex: 1;
  border: 0;
  height: 28px;
  padding: 4px;
  color: #e8e8e8;
  background-color: #3c3c3c;
}
.app > .content > .wrapper > .sidebar > .list > .item {
  height: 60px;
  padding: 0 8px;
  font-size: 14px;
}
.app > .content > .wrapper > .sidebar > .list > .item:hover {
  color: #eee;
  background-color: #2a2d2e;
}
.app > .content > .wrapper > .sidebar > .list > .item:active {
  background-color: #094771;
}
.app > .content > .wrapper > .sidebar > .list > .item > .titleline > .title {
  font-weight: bold;
}
.app > .content > .wrapper > .sidebar > .list > .item > .titleline > .version {
  font-size: 12px;
}
.app > .content > .wrapper > .sidebar > .list > .item > .desc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.app > .content > .wrapper > .console {
  flex: 1;
  display: flex;
  padding: 8px;
  background-color: var(--consoleBlack);
  color: var(--consoleWhite);
  font-size: 16px;
  font-family: "等距更纱黑体 T SC", Iosevka, Consolas, monospace;
  line-height: 20px;
  flex-direction: column;
  white-space: pre-wrap;
  word-break: break-all;
  overflow-y: scroll;
}
.app > .content > .wrapper > .console > .input {
  flex: 1;
  display: flex;
}
.app > .content > .wrapper > .console > .input > .prompt {
  -moz-user-select: none;
  user-select: none;
  cursor: default;
}
.app > .content > .wrapper > .console > .input > textarea {
  flex: 1;
  display: block;
  width: 100%;
  padding: 0;
  border: 0;
  outline: 0;
  resize: none !important;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  color: var(--consoleWhite);
  background-color: transparent;
}
.app > .content > .wrapper > .config {
  flex-grow: 1;
  display: flex;
  min-height: 0;
}
.app > .statusbar {
  height: 22px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  font-size: 12px;
  font-family: Iosevka, Consolas, monospace;
  color: #eee;
  background-color: #007acc;
  -moz-user-select: none;
  user-select: none;
  cursor: default;
}
.app > .statusbar > .message {
  line-height: 22px;
}

/*# sourceMappingURL=style.css.map */
