* {
    box-sizing: border-box;
}
html {
    height: 100%;
    display: flex;
}
body {
    flex: 1;
    margin: 0;
    font-family: 'Segoe UI', Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #fefefa;
    display: flex;
    flex-direction: column;
}
nav {
    display: flex;
}
nav a {
    color: rgba(0,0,0,.8);
    min-width: 160px;
    text-align: center;
    font-size: 14px;
    line-height: 40px;
    vertical-align: middle;
    border-top: 2px solid rgba(0,0,0,.1);
    cursor: pointer;
    user-select: none;
}
nav a:hover {
    background-color: rgba(0,0,0,.05);
    box-shadow: 0 0 1px 0 black inset;
}
nav a.active {
    color: #000;
    border-color: rgba(0,0,0,.5);
    background-color: rgba(0,0,0,.1);
}
.window {
    flex: 1;
    margin: 8px;
    border: 1px solid #666;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.25);
    display: flex;
    flex-direction: column;
}
.window > .titlebar {
    line-height: 30px;
    vertical-align: middle;
    display: flex;
    user-select: none;
    cursor: default;
    background-color: white;
}
.window > .titlebar > .icon {
    width: 22px;
    height: 30px;
    padding-left: 8px;
    padding-bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.window > .titlebar > .icon::before {
    content: '';
    width: 12px;
    border-bottom: 2px solid;
    transform: rotate(45deg);
    position: absolute;
    transition: transform 100ms ease;
}
.window > .titlebar > .icon::after {
    content: '';
    height: 12px;
    border-right: 2px solid;
    position: absolute;
    transition: transform 100ms ease;
}
.window > .titlebar > .icon:hover::before {
    transform: rotate(0);
}
.window > .titlebar > .icon:hover::after {
    transform: rotate(45deg);
}
.window > .titlebar > .title {
    font-size: 12px;
    font-family: 'Segoe UI', system-ui;
    margin-left: 5px;
    flex: 1;
}
.window > .titlebar > .button:hover {
    background-color: rgba(0,0,0,.08);
    transition: all 100ms ease;
}
.window > .titlebar > .button:active {
    background-color: rgba(0,0,0,.20);
    transition: none;
}
.window > .titlebar > .button {
    width: 47px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 200ms ease;
}
.window > .titlebar > .min::after {
    content: '';
    width: 10px;
    border-bottom: 1px solid;
}
.window > .titlebar > .max::after {
    content: '';
    width: 8px;
    height: 8px;
    border: 1px solid;
}
.window > .titlebar > .max.fullscreen::before,
.window > .titlebar > .max.fullscreen::after {
    content: '';
    width: 6px;
    height: 6px;
    border: 1px solid;
    background-color: white;
    position: absolute;
    transition: all 100ms ease;
}
.window > .titlebar > .max.fullscreen:hover::before,
.window > .titlebar > .max.fullscreen:hover::after {
    background-color: #ebebeb;
}
.window > .titlebar > .max.fullscreen:active::before,
.window > .titlebar > .max.fullscreen:active::after {
    background-color: #cccccc;
}
.window > .titlebar > .max.fullscreen::before {
    transform: translate(1px, -1px);
}
.window > .titlebar > .max.fullscreen::after {
    transform: translate(-1px, 1px);
}
.window > .titlebar > .close:hover {
    color: white;
    background-color: rgba(232,17,35);
}
.window > .titlebar > .close:active {
    background-color: rgba(232,17,35,.4);
}
.window > .titlebar > .close:hover::before,
.window > .titlebar > .close:hover::after {
    border-bottom-width: 2px;
}
.window > .titlebar > .close::before {
    content: '';
    width: 10px;
    border-bottom: 1px solid;
    transform: skewY(45deg);
    position: absolute;
}
.window > .titlebar > .close::after {
    content: '';
    width: 10px;
    border-bottom: 1px solid;
    transform: skewY(-45deg);
    position: absolute;
}
.window > .console {
    flex: 1;
    /* windows10 cmd default colors */
    --consoleBlack: #0c0c0c;
    --consoleBlue: #0037da;
    --consoleGreen: #13a10e;
    --consoleCyan: #3a96dd;
    --consoleRed: #c50f1f;
    --consoleMagenta: #881798;
    --consoleYellow: #c19c00;
    --consoleWhite: #cccccc;
    --consoleBoldBlack: #767676;
    --consoleBoldBlue: #3b78ff;
    --consoleBoldGreen: #16c60c;
    --consoleBoldCyan: #61d6d6;
    --consoleBoldRed: #e74856;
    --consoleBoldMagenta: #b4009e;
    --consoleBoldYellow: #f9f1a5;
    --consoleBoldWhite: #f2f2f2;
    padding: 8px;
    font-family: '等距更纱黑体 T SC', Iosevka, monospace;
    font-size: 16px;
    line-height: 20px;
    background-color: var(--consoleBlack);
    color: var(--consoleWhite);
    overflow-y: scroll;
}
.window > .console > .wrapper {
    display: flex;
    flex-direction: column;
    white-space: pre-wrap;
    word-break: break-all;
}
.window > .console > .wrapper::selection {
    background-color: rgba(204,204,204,.996);
    color: var(--consoleBlack);
}
.window > .console > .wrapper > .input {
    flex: 1;
    display: flex;
}
.window > .console > .wrapper > .input > .prompt {
    user-select: none;
    cursor: default;
}
.window > .console > .wrapper > .input > textarea {
    flex: 1;
    display: block;
    width: 100%;
    background-color: transparent;
    padding: 0;
    border: none;
    outline: none;
    color: var(--consoleWhite);
    font-family: '等距更纱黑体 T SC', Iosevka, monospace;
    font-size: 16px;
    line-height: 20px;
    resize: vertical;
}
.f30,.b40,.black { color: #0c0c0c; }
.f31,.b41,.red { color: #c50f1f; }
.f32,.b42,.green { color: #13a10e; }
.f33,.b43,.yellow { color: #c19c00; }
.f34,.b44,.blue { color: #0037da; }
.f35,.b45,.magenta { color: #881798; }
.f36,.b46,.cyan { color: #3a96dd; }
.f37,.b47,.white { color: #cccccc; }
.f90,.b100,.boldBlack { color: #767676; }
.f91,.b101,.boldRed { color: #e74856; }
.f92,.b102,.boldGreen { color: #16c60c; }
.f93,.b103,.boldYellow { color: #f9f1a5; }
.f94,.b104,.boldBlue { color: #3b78ff; }
.f95,.b105,.boldMagenta { color: #b4009e; }
.f96,.b106,.boldCyan { color: #61d6d6; }
.f97,.b107,.boldWhite { color: #f2f2f2; }
.portrait {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: default;
    font-size: 5em;
    font-weight: bold;
    color: rgba(0,0,0,.05);
}